{% extends "layout_bookings.html" %}

{% block body %}
<br>
    <h1>Existing Bookings</h1>
    <br>
    <div class="container" style="width: 900px;">
    <h6>On this page, you will get an overview of existing bookings. Furthermore, you will be able to cancel exsisting bookings you have created. If you have any issues, you can find our contact information under "Contact".</h6>
    </div>

    <br>
    <button type="button" class="btn btn-danger" onclick="openForm()">Delete your booking?</button>

    <br>
    <br>
    <div class="card border-success mb-3" style="height: 40%; width: 69%; margin: auto;">
      <h5 class="card-header bg-success mb-3 text-white">Drill</h5>
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://www.costco.co.uk/medias/sys_master/images/h4d/h16/47511575003166.jpg" class="card-img-top" alt="drill">
          </div>
          <div class="col-md-8">
            <div class="card-body scroll">
              {% 
                for booking in bookingList
                    if booking["itemName"] == "Drill"
            %} 
                <p class="card-text" style="text-align: left;"> {{ booking["startDate"] }} to {{ booking["endDate"] }}: Booked by {{ booking["fullName"] }}</p>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="card border-success mb-3" style="height: 40%; width: 69%; margin: auto;">
        <h5 class="card-header bg-success mb-3 text-white">Ladder</h5>
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://homedepot.scene7.com/is/image/homedepotcanada/p_1000165414.jpg?wid=1000&hei=1000&op_sharpen=1" class="card-img-top" alt="drill">
          </div>
          <div class="col-md-8">
            <div class="card-body scroll">
              {% 
                for booking in bookingList
                    if booking["itemName"] == "Ladder"
            %} 
                <p class="card-text" style="text-align: left;"> {{ booking["startDate"] }} to {{ booking["endDate"] }}: Booked by {{ booking["fullName"] }}</p>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="card border-success mb-3" style="height: 40%; width: 69%; margin: auto;">
        <h5 class="card-header bg-success mb-3 text-white">Chairs</h5>
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://medieserver.jemogfix.dk/fotoweb/dk/varer/700/2125%209036098.jpg" class="card-img-top" alt="drill">
          </div>
          <div class="col-md-8">
            <div class="card-body scroll">
              {% 
                for booking in bookingList
                    if booking["itemName"] == "Chairs"
            %} 
                <p class="card-text" style="text-align: left;"> {{ booking["startDate"] }} to {{ booking["endDate"] }}: Booked by {{ booking["fullName"] }}</p>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
      </div>

      <div class="modal-sm" id="myForm" style="display: none;">
        <div class="modal-content" style = "position: fixed; width: 300px; top: 25%; margin-left: 40%; text-align: left; padding-left: 50px;">
        <!-- our form action (where to send form data) is for this file, and we use the post method to ask the server to book an item -->
        <form action="/bookings" method="post" id="deleteBooking">
            <h3 id="nameOfItem">DELETE BOOKING</h3>

            <label for="bookingid">Booking ID:</label><br>
            <input type="text" id="bookingid" name="bookingid" placeholder="Booking ID" >
            <br><br>
            <input type="submit" id="submit" class="btn btn-danger" value="Submit" disabled>
            <button type="button" class="btn btn-secondary" onclick="closeForm()">Close</button>
            <p> </p>
        </form>
        </div>
        
      </div>

{% endblock %}


