{% extends "layout_general.html" %}

{% block body %}


<div class="row"">
  <div class="col-sm-4 d-flex align-items-stretch">
    <div class="card border-success mb-3">
        <img src="https://www.costco.co.uk/medias/sys_master/images/h4d/h16/47511575003166.jpg" class="card-img-top" alt="drill">
        <h5 class="card-header bg-success mb-3 text-white">Drill</h5>
        <div class="card-body text-success">
          <p class="card-text">2 x 1,5 Ah 18V XR Li-Ion drill.</p>
          <button type="button" class="btn btn-success" id="drill" onclick="drill()">Book Now</button>
        </div>
    </div> 
  </div>
  <div class="col-sm-4 d-flex align-items-stretch">
    <div class="card border-success mb-3">
        <img src="https://homedepot.scene7.com/is/image/homedepotcanada/p_1000165414.jpg?wid=1000&hei=1000&op_sharpen=1" class="card-img-top" alt="ladder">
        <h5 class="card-header bg-success mb-3 text-white">Ladder</h5>
        <div class="card-body text-success">
          <p class="card-text">Fiberglass Double Step Ladder. Supports 300lbs.</p>
          <button type="button" class="btn btn-success" id="ladder" onclick="ladder()">Book Now</button>
        </div>
    </div> 
  </div>
  <div class="col-sm-4 d-flex align-items-stretch">
    <div class="card border-success mb-3">
        <img src="https://medieserver.jemogfix.dk/fotoweb/dk/varer/700/2125%209036098.jpg" class="card-img-top" alt="chair">
        <h5 class="card-header bg-success mb-3 text-white">Folding Chair</h5>
        <div class="card-body text-success">
          <p class="card-text">12 folding chairs avaliable for booking.</p>
          <button type="button" class="btn btn-success" id="chairs" onclick="chairs()">Book Now</button>
        </div>
    </div> 
  </div>
</div>

<div class="modal-sm" id="myForm" style="display: none;">
  <div class="modal-content" style = "position: fixed; width: 300px; top: 32.5%; margin-left: 40%; ">
  <!-- our form action (where to send form data) is for this file, and we use the post method to ask the server to book an item -->
  <form action="/catalogue" method="post" id="createBooking">
      <h3 id="nameOfItem"></h3>
      <input type="hidden" id="itemName" name="itemName" value="">
      <label for="fullName">Full name:</label><br>
      <input type="text" id="fullName" name="fullName" placeholder="Full name"><br>
      <label for="startDate">Start date:</label><br>
      <input type="date" id="startDate" name="startDate" placeholder="DD-MM-YYYY"><br><br>
      <label for="endDate">End date:</label><br>
      <input type="date" id="endDate" name="endDate" placeholder="DD-MM-YYYY"><br><br>
      <!-- we use the type "date" to let users pick a date -->
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" placeholder="email@email.email"><br><br>
      <!-- We use type="email" to enable verifying the user has typed an email -->
      <input type="submit" id="submit" class="btn btn-success" value="Submit" disabled>
      <button type="button" class="btn btn-secondary" onclick="closeForm()">Close</button>
      <p> </p>
  </form>
  </div>
  
</div>



{% endblock %}

<!--div style="height: 400px; width: 300px;"></div-->
