{% extends "layout_catalogue.html" %}

{% block body %}
<h1>Item Catalogue</h1>
    <br>
    <div class="container" style="width: 900px;">
    <h6>Here, you can see the items avaliable for booking in your dormatory. To book an item, click "Book Now" and enter your Full Name, Start date for booking, end date for booking, and your Email address. To finalise the booking, press "Submit". Get an overview of existing bookings by clicking "Bookings" in the navbar.</h6>
    </div>
    <br>
<div class="row" style="margin: auto;">
  <div class="col-sm-4 d-flex align-items-stretch">
    <div class="card border-success mb-3">
        <img src="https://www.costco.co.uk/medias/sys_master/images/h4d/h16/47511575003166.jpg" class="card-img-top" alt="drill">
        <h5 class="card-header bg-success mb-3 text-white">Drill</h5>
        <div class="card-body text-success">
          <p class="card-text">2 x 1,5 Ah 18V XR Li-Ion drill.</p>
          <a href="#" class="btn btn-success">Book Now</a>
        </div>
    </div> 
  </div>
  <div class="col-sm-4 d-flex align-items-stretch">
    <div class="card border-success mb-3">
        <img src="https://homedepot.scene7.com/is/image/homedepotcanada/p_1000165414.jpg?wid=1000&hei=1000&op_sharpen=1" class="card-img-top" alt="ladder">
        <h5 class="card-header bg-success mb-3 text-white">Ladder</h5>
        <div class="card-body text-success">
          <p class="card-text">Fiberglass Double Step Ladder. Supports 300lbs.</p>
          <a href="#" class="btn btn-success">Book Now</a>
        </div>
    </div> 
  </div>
  <div class="col-sm-4 d-flex align-items-stretch">
    <div class="card border-success mb-3">
        <img src="https://medieserver.jemogfix.dk/fotoweb/dk/varer/700/2125%209036098.jpg" class="card-img-top" alt="chair">
        <h5 class="card-header bg-success mb-3 text-white">Folding Chair</h5>
        <div class="card-body text-success">
          <p class="card-text">12 folding chairs avaliable for booking.</p>
          <a href="#" class="btn btn-success">Book Now</a>
        </div>
    </div> 
  </div>
</div>    
{% endblock %}

<!--div style="height: 400px; width: 300px;"></div-->
