{% extends "layout_general.html" %}

{% block body %}


            <div class="col-lg-3 d-flex align-items-stretch">
                <div class="card">
                        <img src="https://www.costco.co.uk/medias/sys_master/images/h4d/h16/47511575003166.jpg" class="card-img-top" alt="chair">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content. We can see in the following text that Anne is trying to fill this out to test the height of the BOX!</p>
                    <a href="#" class="btn btn-primary">Book Now</a>
                  </div>
              </div> 
          </div>
        </div>
    </div>
        
            
                <div class="col-lg-3 d-flex align-items-stretch">
                    <div class="card">
                            <img src="https://damcache.harald-nyborg.dk/v-637673725574706381/2b/4f/3c61-45ba-4dcd-9edc-319117ac2f96/13052.jpg" class="card-img-top" alt="chair">
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content. We can see in the following text that Anne is trying to fill this out to test the height of the BOX!</p>
                        <a href="#" class="btn btn-primary">Book Now</a>
                      </div>
                  </div> 
              </div>
            </div>
        </div>

        <div class="col-lg-3 d-flex align-items-stretch">
                <div class="card">
                        <img src="https://medieserver.jemogfix.dk/fotoweb/dk/varer/700/2125%209036098.jpg" class="card-img-top" alt="chair">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content. We can see in the following text that Anne is trying to fill this out to test the height of the BOX!</p>
                    <a href="#" class="btn btn-primary">Book Now</a>
                  </div>
              </div> 
          </div>
        </div>
    </div>
      
{% endblock %}

<!--div style="height: 400px; width: 300px;"></div-->
