{% extends "layout_general.html" %}

{% block body %}

<style>
ol.center-list{
  display: table;
  margin-left: auto;
  margin-right: auto;
  list-style-position: inside;
}
</style>
<div style="width: 55%; float: left; text-align: left; padding-left: 147px;">
    <br>
    <br>
    <br>
    <h5>RE:NT FOR SUSTAINABLE LIVING</h5>
    <h1 class="text-success">Buy less, RE:NT more at The Dorm</h1>
    <br>
    <ul class="list-group list-group-flush" style="width: 85%">
        <li class="list-group-item">All residents of The Dorm are allowed to borrow items.</li>
        <li class="list-group-item">All items must be booked through this page. Borrowing items without registration is prohibited.</li>
        <li class="list-group-item">Items can be picked up from the Item Room at 12 PM on the start date of borrowing.</li>
        <li class="list-group-item">Items must be returned to the Item Room at 12 PM on the end date of borrowing.</li>
        <li class="list-group-item">Return items in the same or better condition than when borrowed.</li>
        <li class="list-group-item">Please inform management right away if an item is broken or damaged.</li>
    </ul>
</div>

<div  style="width: 45%; float: right">
    <a data-flickr-embed="true" href="https://www.flickr.com/photos/samiq/3291705690/" title="KIST Dormitory B"><img src="https://live.staticflickr.com/3499/3291705690_ee981b898f_k.jpg" class="img-fluid" style="width: 100%; height: 100%; margin: 0; padding: 0" alt="KIST Dormitory B"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
</div>

{% endblock %}